@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-effect {
    filter: blur(8px);
}

.spotlight-container {
    background-color: transparent;
    border-radius: 16;
    overflow: hidden;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20 rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.leading-16 {
    line-height: 64;
}